{% extends 'base.html' %}

{% block content %}
  <h2>Логи рассылки</h2>

  {% if logs %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Дата и время</th>
          <th scope="col">Статус</th>
          <th scope="col">Ответ почтового сервера</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
          <tr>
            <td>{{ log.attempt_time }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.response }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Нет логов для отображения.</p>
  {% endif %}

  <a href="{% url 'mailing_list_list' %}" class="btn btn-secondary">Назад к списку рассылок</a>
{% endblock %}
