{% extends 'base.html' %}

{% block content %}
  <h2>Форма рассылки</h2>

  <form method="post" action="{% if mailing_list.id %}{% url 'mailing_list_update' mailing_list.id %}{% else %}{% url 'mailing_list_create' %}{% endif %}" id="mailingListForm">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_send_time">Время отправки:</label>
      <div class="input-group">
        <input type="datetime-local" name="send_time" id="id_send_time" class="form-control" value="{{ mailing_list.send_time|date:'Y-m-dTH:i' }}" required>
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary">Сохранить дату</button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="id_frequency">Частота:</label>
      <select name="frequency" id="id_frequency" class="form-control" required>
        <option value="daily" {% if mailing_list.frequency == 'daily' %}selected{% endif %}>Ежедневно</option>
        <option value="weekly" {% if mailing_list.frequency == 'weekly' %}selected{% endif %}>Еженедельно</option>
        <option value="monthly" {% if mailing_list.frequency == 'monthly' %}selected{% endif %}>Ежемесячно</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id_status">Статус:</label>
      <select name="status" id="id_status" class="form-control" required>
        <option value="created" {% if mailing_list.status == 'created' %}selected{% endif %}>Создано</option>
        <option value="started" {% if mailing_list.status == 'started' %}selected{% endif %}>Запущено</option>
        <option value="completed" {% if mailing_list.status == 'completed' %}selected{% endif %}>Завершено</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id_subject">Тема письма:</label>
      <input type="text" name="subject" id="id_subject" class="form-control" value="{{ mailing_list.message.subject }}" required>
    </div>

    <div class="form-group">
      <label for="id_body">Тело письма:</label>
      <textarea name="body" id="id_body" class="form-control" rows="4" required>{{ mailing_list.message.body }}</textarea>
    </div>

    <div class="form-group">
      <label for="id_select_all_clients">Выбрать всех клиентов:</label>
      <input type="checkbox" name="select_all_clients" id="id_select_all_clients" class="form-check-input" {% if mailing_list.select_all_clients %}checked{% endif %}>
    </div>

    <div class="form-group">
      <label>Выберите клиентов:</label>
      {% for client in clients %}
        <div class="form-check">
          <input type="checkbox" name="clients" id="id_client_{{ client.id }}" value="{{ client.id }}" class="form-check-input" {% if client in mailing_list.clients.all %}checked{% endif %}>
          <label for="id_client_{{ client.id }}" class="form-check-label">{{ client.full_name }} ({{ client.email }})</label>
        </div>
      {% endfor %}
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'mailing_list_list' %}" class="btn btn-secondary">Отмена</a>
  </form>

  <script>
    const selectAllCheckbox = document.getElementById('id_select_all_clients');
    const clientsCheckboxes = document.querySelectorAll('[name="clients"]');

    selectAllCheckbox.addEventListener('change', function () {
      const isChecked = selectAllCheckbox.checked;

      clientsCheckboxes.forEach(function (checkbox) {
        checkbox.checked = isChecked;
      });
    });
  </script>
{% endblock %}
