{% extends 'base.html' %}

{% block content %}
  <h2>Детали рассылки</h2>
  <p>ID: {{ mailing_list.id }}</p>
  <p>Время отправки: {{ mailing_list.send_time }}</p>
  <p>Частота: {{ mailing_list.frequency }}</p>
  <p>Статус: {{ mailing_list.status }}</p>
  <h3>Список клиентов:</h3>
  <ul>
    {% for client in mailing_list.clients.all %}
      <li>{{ client.full_name }} - {{ client.email }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'mailing_list_list' %}">Назад к списку рассылок</a>
{% endblock %}
